<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adam Kvasnička FIM UHK PGRF2 - 2.5.2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav class="navigation-bar text-center">
        <button id="animation-toggle" class="button">Animation type</button>
        <div id="size-controller">
            <label for="size-of-grid">Size of Grid</label>
            <input type="range" id="gridSize" name="size-of-grid" min="4" max="1024" value="512" step="2" class="slider">
        </div>
        <button id="playlist-toggle" class="button">Playlist</button>
        <button id="controll-toggle" class="button">Controlls</button>
    </nav>

    <div class="playlist-container filter-hidden">
        <a data-src="./assets/Bach.mp3" class="playlist-link">Bach</a>
        <a data-src="./assets/Chopin.mp3" class="playlist-link">Chopin</a>
        <a data-src="./assets/Hisaishi.mp3" class="playlist-link">Hisaishi</a>
        <a data-src="./assets/test.mp3" class="playlist-link">Frequency Test</a>
    </div>

    <div class="controll-container filter-hidden">

        <button id="playPause" class="button">Play</button>
        <button id="stopButton" class="button">Pause</button>

        <div>
            <label for="volume-input">Volume</label>
            <br>
            <input type="range" id="volumeInput" name="volume-input" min="0" max="100" value="10" class="slider">
        </div>

        <div class="input-group mt-2">
            <label for="soundFile">Insert .mp3 file</label>
            <br>
            <input type="file" name="soundFile" id="soundFile" accept="audio/*">
        </div>

        <div class="skybox-container">
            <label class="mb-1" for="skybox-check">Skybox ON/OFF</label>
            <br>
            <input type="checkbox" id="skybox-check">
        </div>
    </div>

    <div class="animation-container element-hidden">
        <div class="input-group animation-button-group">
            <button id="gridButton" class="button">Grid</button>
            <button id="continuousButton" class="button">Continuous</button>
            <button id="pointButton" class="button">Points</button>
            <button id="cubeButton" class="button">Cube</button>
            <button id="circleButton" class="button">Circle</button>
            <button id="sphereButton" class="button">Sphere</button>
        </div>
    </div>

    <div id="filter-toggle">Filters</div>

    <div class="filter-container filter-hidden">

        <button id="resetButton" class="button">Reset filters</button>
        <hr>

        <div>
            <label for="lowPassInput-input">LowPass</label>
            <br>
            <input type="range" id="lowPassInput" name="lowPassInput-input" min="0" max="1" step="0.01" class="slider" value="1">
        </div>
        <div>
            <label for="highPassInput-input">HighPass</label>
            <br>
            <input type="range" id="highPassInput" name="highPassInput-input" min="0" max="1" step="0.01" class="slider" value="0">
        </div>

        <div>
            <label for="quality-input">Quality</label>
            <br>
            <input type="range" id="qualityInput" name="quality-input" min="0" max="1" step="0.01" class="slider" value="1">
        </div>

        <hr>

        <!-- These filters can take values in nominal range from -40 to 40, they are expressed in dB -->

        <div>
            <label for="bass-input">Bass</label>
            <br>
            <input type="range" id="bassInput" name="bass-input" min="-40" max="40" step="0.1" class="slider" value="0">
        </div>

        <div>
            <label for="tremble-input">Tremble</label>
            <br>
            <input type="range" id="trembleInput" name="tremble-input" min="-40" max="40" step="0.1" class="slider" value="0">
        </div>

        <div>
            <label for="mid-input">Mid</label>
            <br>
            <input type="range" id="midInput" name="mid-input" min="-40" max="40" step="0.1" class="slider" value="0">
        </div>

    </div>

    <div class="controll-hint">
        <p>To move around use WSAD</p>
        <p>To look around use mouse</p>
        <p>To move up/down use shift + mouse</p>
        <p>To zoom use mouse wheel</p>
    </div>

    <div class="canvas-container">
        <canvas id="glCanvas"></canvas>
    </div>

    <!-- ASSETS -->
    <audio id="myAudio" src="./assets/Bach.mp3" type="audio/mp3"></audio>

    <!-- SKYBOX MADE BY HIPSHOT -->
    <!-- https://forums.epicgames.com/unreal-tournament-2003-2004/ut2004-level-editing-modeling-skinning/108243-my-skies-and-and-cliff-textures-large-images -->
    <img id="cube_back" src="./assets/miramar_back.png" alt="imgTex" style="display:none;">
    <img id="cube_bottom" src="./assets/miramar_bottom.png" alt="imgTex" style="display:none;">
    <img id="cube_front" src="./assets/miramar_front.png" alt="imgTex" style="display:none;">
    <img id="cube_left" src="./assets/miramar_left.png" alt="imgTex" style="display:none;">
    <img id="cube_right" src="./assets/miramar_right.png" alt="imgTex" style="display:none;">
    <img id="cube_top" src="./assets/miramar_top.png" alt="imgTex" style="display:none;">

    <script src="./dist/bundle.js"></script>
</body>

</html>