#animation-toggle {
  float: left;
  border-right: 1px solid darkgray;
}

#animation-toggle:focus {
    outline: none;
}

#playlist-toggle {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#size-controller {
    position: absolute;
    left: 350px;
    top: 10px;
    color: white;
    display: inline-block;
    overflow: hidden;
}

.hide-element {
    display: none !important;
}

.controll-hint {
    color: white;
    position: fixed;
    bottom: 0;
    right: 10px;
}

.playlist-container {
    min-width: 200px;
    position: fixed;
    top: 50px;
    left: 46.5%;
    color: white;
    text-align: center;
    transition: 1s all ease-in;
    height: 150px;
    overflow: hidden;
    background: transparent;
}

.playlist-container a {
    display: block;
    font-size: 1.4em;
    border-bottom: 1px solid white; 
    cursor: pointer;
}

.button {
    transition: 0.25s all ease;
}

.button:hover {
    color: rgb(111, 162, 255);
}

nav button {
    color: white;
    background-color: transparent;
    height: 50px;
    width: 300px;
    font-size: 2em;
    cursor: pointer;
    border: none;
}

#controll-toggle {
  float: right;
  border-left: 1px solid darkgray;
}
#controll-toggle:focus {
    outline: none;
}

html, body {
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid darkgray;
}

.animation-container {
    position: fixed;
    top: 50px;
    left: 0;
    transition: 1s all ease;
    min-width: 400px;
    height: 80px;
    overflow: hidden;
    background-color: transparent;
}

.animation-container button {
    min-width: 75px;
    background-color: transparent;
    border-color: transparent;
    font-size: 2em;
    border-bottom: 1px solid darkgray;
    margin: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.animation-container button:focus {
    outline: none;
}

.animation-container button:nth-child(1) {
    border-left: 1px solid transparent;
}

.animation-button-group {
    border: none !important;
}

.controll-container {
    position: fixed;
    right: 0;
    top: 50px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    transition: 1s all ease;
    color: white;
    text-align: center;
    background-color: transparent;
} 

.controll-container button {
    width: 100%;
    color: white; 
    font-size: 2em;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgray;
    cursor: pointer;
}

.controll-container button:focus {
    outline: none;
}

#volumeInput {
    width: 300px;
}

#filter-toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: black;
    color: white;
    width: 450px;
    font-size: 2em;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
    text-align: center;
    cursor: pointer;
}

.filter-container {
    position: fixed;
    bottom: 50px;
    left: 0;
    transition: 1s all ease;
    overflow: hidden;
    width: 400px;
    height: 500px;
    padding: 20px;
    color: white;
    background-color: transparent;
}

.filter-container button {
    width: 200px;
    border: none;
    border-bottom: 1px solid darkgray;
    color: white;
    font-size: 2em;
    background-color: transparent;
    cursor: pointer;
}


.filter-container button:focus {
   outline: none;
}

.filter-hidden {
    height: 0;
    padding: 0;
}

.element-hidden {
    height: 0;
}

.canvas-container {
    border: 1px solid black;
    padding: 0 !important;
    z-index: -99999;
}

#glCanvas {
    width: 100% !important;
    height: 100% !important;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 25px;
    background: #424242;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
    cursor: pointer;

}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.skybox-container {
    padding: 10px;
    font-size: 1.2em;
}

#skybox-check {
    width: 40px;
    height: 40px;
    cursor: pointer;
}